{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet">
    <link href="{% static 'styles/nav.css' %}" rel="stylesheet">



    <title>Hello, world!</title>
  </head>

  <!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PGNHOSTEL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
 <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>
  <!-- /.navbar -->

<!-- Section 1 -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <h1 class="first-h1">Main Headline</h1>
      <hr>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section 2 -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <h1>Second Headline</h1>
      <hr>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
      </div>
    </div>
  </div>
</section>

<!-- Section 3 -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <h1>Third Headline</h1>
      <hr>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
        <p>Instantly break out into full speed gallop across the house for no reason have secret plans brown cats with pink ears wake up human for food at 4am so use lap as chair. Attack the dog then pretend like nothing happened scream at teh bath and claws in your leg meowing non stop for food plan steps for world domination yet kick up litter. Meow ignore the squirrels, you'll never catch them anyway, lounge in doorway wake up human for food at 4am so hide at bottom of staircase to trip human. Run in circles curl into a furry donut. Then cats take over the world sleep nap but caticus cuteicus for purr while eating or human give me attention meow.</p>
      </div>
    </div>
  </div>
</section>

  <body>
  {% block content %}

  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Brand Name </h4>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li><a class="email"href="#"> insert email here </a></li>
                        <br/>
                        <li> <p> address line one </p> </li>
                        <li> <p> address line two </p> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <ul>
                        <li> <h5> <a href="#" style="margin-top: 5em"> ABOUT US</a> <h5></li>
                        <li> <h5><a href="#"> CURRENT SERIES </a> <h5></li>
                        <li> <h5><a href="#"> THE HOUSE </a> <h5></li>
                        <li> <h5><a href="#"> LOOKING BACK </a> <h5></li>
                    </ul>
                </div>

            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © Footer 2014. All right reserved. </p>

        </div>
    </div>
    <!--/.footer-bottom-->

</footer>

</html>